name: Parent

on:
  workflow_dispatch:
  push:

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "github.workflow = ${{ github.workflow }}"
          echo "github.run_id = ${{ github.run_id }}"
          echo "github.run_number = ${{ github.run_number }}"
          echo "github.job" = ${{ github.job }}

  child:
    uses: ./.github/workflows/child.yaml
